.tabs {
  margin: 1.25em 0;
}

.tablist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d3d3d3;
}

.tablist .tab {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0;
  margin-right: 0.25em;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-bottom: none;
  background: transparent;
  color: #0066cc;
  cursor: pointer;
  font-size: 0.9375em;
  line-height: 1.5;
  text-decoration: none;
  transition: background-color 0.2s, border-color 0.2s;
}

.tablist .tab:hover {
  background-color: #f5f5f5;
  color: #004499;
}

.tablist .tab:focus {
  outline: 2px solid #0066cc;
  outline-offset: -2px;
}

.tablist .tab.is-selected {
  background-color: #fff;
  border-color: #d3d3d3;
  border-bottom-color: #fff;
  color: #1a1a1a;
  cursor: default;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.tabpanel {
  display: block;
  padding: 1em 0;
}

.tabpanel.is-hidden {
  display: none;
}

.tabpanel.is-selected {
  display: block;
}

/* Ensure tab content is properly styled */
.tabpanel > *:first-child {
  margin-top: 0;
}

.tabpanel > *:last-child {
  margin-bottom: 0;
}

